/*------------------------------------------------------------CSS For Chat------------------------------------------------*/
main {
  max-width: 1000px;
  margin: auto;
}

h1{
  text-align: center;
}
.inputMld{
  background-color: lightgray;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  height: 14px;
  float: right;
}

#chatBox{
  border-style: solid;
  border-color: grey;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 25px;
  background-color: white;
  opacity: 0.8;
  height: 250px;
  overflow-y: auto;
}
input:focus{
  outline:0;
}

#sendIkon{
  width: 20px;
  background-color: none;
  float: right;
}
#inpDiv{
  margin-left: 20%;
  margin-right: 20%;
}

#avsender{
  color: black;
  float: left;
}

#meldingTxt{
  background-color: rgb(41, 150, 240);
  opacity:1;
  color: white;
  border-radius: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  height: 14px;
  left: 5px;
}
b{
  font-size: 1.2em;
}
i{
  font-size:1.2em;
}