body{
    font-family: serif;
    background-color:#e6e7de;
    width: 100%;
}
#banner {
    width: 100%;
}

/* --------------------------------------------- CSS for NAV -------------------------------------------------------------*/
nav {
    background-color: #44cece;
    display: grid; /* Sier at det skal være et grid */
    grid-template-columns: repeat(12, 1fr); /* Deler radene i 12 like store ruter*/
    align-items: center; /* Senterer alt */
    margin-bottom: 10px; 
    /* Lager en tynn grå kant rundt hele nav-en */
    border-style: solid; 
    border-width: 2px;
    border-color: lightgray;
}
nav a{
    padding-right: 5px; /* Lager mellomrom mellom linkene */
    color: black;
    text-decoration: none; /* Fjerner understreken på linkene */
    font-family: tahoma;
    font-weight: bold;
    font-size: 15px;
    transition: 0.40s; /* Alle animasjoner på linkene skal vare i 0.4 sekunder */
}

#logo {
    height: 90px; /* Setter høyden på bildet til 60 piksler */
    padding-right: 30px;
    transition: 0.40s; /* Alle animasjoner på bilet skal vare i 0.4 sekunder */
}
#logo:hover{ 
    height: 100px; /* Gjør bildet større når man holder over det */
}

/*------------------------------------------------------CSS for Dropdown i NAV------------------------------------------*/

/* Stil for Dropdown Button */
.dropbtn {
    background-color: #F19F40;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Container diven - Posisjonerer innholdet i dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown contet (Skjult som default)*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Endrer farge på dropdown-linkene ved hover */
.dropdown-content a:hover {
    font-size: 17px;
    text-decoration: underline;
}

/* Vis dropdown-menyen ved hover */
.dropdown:hover .dropdown-content{
    display: block;
}

/* Endre bakgrunssfargen på knappen når dropdown-innholdet er synlig */
.dropdown:hover .dropbtn {
    background-color: #F9CF00;
}


/*---------------------- CSS for generelle ting i main--------------------------------------------------------------------------*/

main{
    max-width: 1000px; /* Setter bredden på alt i main til mindre enn siden */
    margin: auto;
    display: grid; /* Definerer grid */
    grid-template-columns: repeat(12,1fr); /* Deler radene i 12 like store ruter*/
    grid-gap: 20px; /* Lager et mellomrom på 20px mellom rutene */
}
main img{ /*  Gjelder alle bilder i main*/
    width: 100%;
}

/*--------------------------- CSS for linkene i main -------------------------------------------*/

main>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px ;
    background-color: white;
}

main>a>p {
    font-size: 30px;
}

/* Animasjon for å legge til understrek på skriften */
main>a>h2:hover{
    text-decoration: underline ;
}
main>a>p:hover{
    text-decoration: underline ;
}

#litenTekst { /*ID for å endre på en liten del av h1*/
    font-size: 20px;
    font-family: tahoma;
    font-weight:bold;
}

/*----Endrer bakgrunssfargen og posisjonen for bestemte elementer i grid*/
#Oy1 {
    background-color: #ecbb82;
    text-align: center;
}
#Oy2 {
    background-color: rgb(125, 238, 200);
    text-align: center;
}
#Oy3 {
    background-color: rgb(226, 143, 168);
    text-align: center;
}

/*----- Sidebilder ---*/
#sidenav {
    width: 300px;
    position: fixed; /* Palmene flytter ikke på seg når du beveger deg på siden */
    z-index: 1;
    bottom: 0px;
    overflow-x: hidden;
    padding: 8px 0;
}
.sidenavV {
    left: 3px; /* Skaper avstand mellom bilde og venstre kant av skjermen */
}
.sidenavH {
    right: 3px; /* Skaper avstand mellom bilde og høyre kant av skjermen */
}

/*---------------------------------------------------------------------------------------------*/

/* Klasser som bestemmer hvor mange ruter elementer skal ta opp i gridden */
.kol-1 {grid-column: span 1;}
.kol-2 {grid-column: span 2;}
.kol-3 {grid-column: span 3;}
.kol-4 {grid-column: span 4;}
.kol-5 {grid-column: span 5;}
.kol-6 {grid-column: span 6;}
.kol-7 {grid-column: span 7;}
.kol-8 {grid-column: span 8;}
.kol-9 {grid-column: span 9;}
.kol-10 {grid-column: span 10;}
.kol-11 {grid-column: span 11;}
.kol-12 {grid-column: span 12;}