body {
  width: 100%;
  background-image: url("bilder/verdenskart5_40_60p.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

main {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#trend {
  height:30px;
}

/*------------------------------ CSS for navbar ---------------------------------------------------------*/

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #111;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color:turquoise;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #111;
  line-height: 65px;
  font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
  color: turquoise;
}


/* Home section */
.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Endrer nav når gjør skjermen liten */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  .nav div.logo {
      margin-left: 15px;
  }
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #fff;
      background-position: center top;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: right;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      font-size: 3rem;
      padding: 20px;
  }
  .nav div.media_button {
      display: block;
  }
}


/* Animasjon */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #111;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}


.affix {
  padding: 0;
  background-color: #fff;
  border: double #111;
}


/*------------------------------ CSS for kartet -----------------------------------------------------------*/
.mapdiv path{
  fill: grey;
  stroke: white;
  stroke-width: 1px;
  transition: fill 0.3s;
}
.mapdiv path:hover{
  fill: black;
  cursor: pointer;
}

#kart{
  height: 790px;
  width: 740px;
}

/*------------------------------ CSS for tabellene i grid--------------------------------------------------*/
#tabeller{
  max-width: 800px; /* Setter bredden på alt i main til mindre enn siden */
  margin: auto;
  display: grid; /* Definerer grid */
  grid-template-columns: repeat(12,1fr); /* Deler radene i 12 like store ruter*/
  grid-gap: 40px; /* Lager et mellomrom på 20px mellom rutene */
}
#tabeller>div{
  border: solid gray 2px;
  background-color: #fff;
}

table {
  width:100%;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
  font-family:monospace ;
  font-size: large;
}
table tr{
  color: grey;
}
table th {
  color: red;
  font-size: x-large;
}
h2{
  font-size: xx-large;
}
h3{
 font-size: larger;
}


/* Klasser som bestemmer hvor mange ruter elementer skal ta opp i gridden */
.kol-1 {grid-column: span 1;}
.kol-2 {grid-column: span 2;}
.kol-3 {grid-column: span 3;}
.kol-4 {grid-column: span 4;}
.kol-5 {grid-column: span 5;}
.kol-6 {grid-column: span 6;}
.kol-7 {grid-column: span 7;}
.kol-8 {grid-column: span 8;}
.kol-9 {grid-column: span 9;}
.kol-10 {grid-column: span 10;}
.kol-11 {grid-column: span 11;}
.kol-12 {grid-column: span 12;}